.input-send{
font-family: 'Roboto', sans-serif;
font-size: 1em;
border: 1px solid rgba(34,35,40,0.2);
background: 0 0;
border-radius: $border-radius;
padding: 0.9em 1.6em;
width: 100%;
color: $font-color;
}
